$colors: (
    'common': (
        'white': #ffffff,
        'black': #000,
        'gray': #f4f4f4,
    ),
    'theme': (
        'primary': #f94c30,
        'secondary': #214be0,
        '1': #050c26,
    ),
    'heading': (
        'primary': #131313,
        'secondary': #16243E,
    ),
    'text': (
        'body':#727272,
        '1':#67687A,
        '2':#757474,
    ),
    'border': (
        'primary': #EAEBED,
        'secondary': #efefef,
        '1': #e6ebf0,
    )
);

$white : #fff;
$black : #020B18;
$theme-primary : #f94c30;
$border-primary : #214be0;