@use '../utils' as *;

/*----------------------------------------*/
/*  2.11 Breadcrumb
/*----------------------------------------*/

.breadcrumb{
    $self: &;
    &__area{
        @media #{$md} {
            padding-top: 130px;
            padding-bottom: 130px;
        }
        @media #{$sm} {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
    &__bg{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
        @media #{$xl,$lg,$md,$sm,$xs} {
            left: 0;
        }
        @media #{$lg,$md,$sm,$xs} {
            top: 0;
        }
    }
    &__title{
        font-weight: 800;
        font-size: 50px;
        margin-bottom: 0;
        color: var(--tp-common-white);
        @media #{$sm,$xs} {
            font-size: 40px;
        }
    }
    &__list{
        & span{
            font-weight: 400;
            font-size: 16px;
            color: var(--tp-common-white);
            &:not(:last-of-type){
                margin-right: 5px;
            }
            & a{
                &:hover{
                    color: var(--tp-theme-primary);
                }
            }
        }
    }
}
