@use '../../utils' as *;

/*----------------------------------------*/
/*  5.2 Recent Post css
/*----------------------------------------*/

.#{$theme-prefix}-rc__post{
    &:not(:last-of-type){
        margin-bottom: 40px;
    }
    &-content{}
    &-title{
        font-size: 16px;
        font-weight: 700;
        color: var(--tp-heading-primary);
        & a{
            &:hover{
                color: var(--tp-theme-primary);
            }
        }
    }
    &-meta{
        & span{
            font-size: 14px;
            font-weight: 400;
            display: block;
            margin-bottom: 8px;
            color: var(--tp-text-body);
            & i{
                color: var(--tp-theme-primary);
                margin-right: 5px;
            }
        }
    }
}
