@use '../../utils' as *;

/*----------------------------------------*/
/*  8.0 Cta css
/*----------------------------------------*/

.#{$theme-prefix}-cta{
    &-bg{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
    }
    &-title{
        font-size: 80px;
        font-weight: 800;
        line-height: 1.1;
        letter-spacing: 0.36px;
        margin-bottom: 40px;
        color: var(--tp-common-white);
        @media #{$md,$sm} {
            font-size: 60px;
        }
        @media #{$xs} {
            font-size: 50px;
        }
    }
}