@use '../../utils' as *;

/*----------------------------------------*/
/*  8.2 Features css
/*----------------------------------------*/

.#{$theme-prefix}-features{
    &-area{
        @media #{$lg} {
            padding-top: 80px;
        }
    }
    &-item{
        position: relative;
        padding: 36px;
        border: 1px solid rgb(242, 237, 235);
        overflow: hidden;
        @extend %transition;
        &:hover{
            border-color: var(--tp-theme-secondary);
            & .tp-features{
                &-title{
                    color: var(--tp-theme-secondary);
                }
                &-item{
                    &-btn{
                        & a{
                            & i{
                                color: var(--tp-theme-secondary);
                            }
                            & b {
                                transform: translate(15px , 5px);
                                opacity: 1;
                            }
                        }
                        & span{
                            color: var(--tp-theme-secondary);
                        }
                    }
                }
            }
            &.item-2{
                background: #f4f4f4;
            }
            & .shape{
                bottom: 0;
                right: 0;
                opacity: 1;
            }
        }
        & p{
            margin-bottom: 10px;
        }
        &-btn{
            & a{
                position: relative;
                z-index: 2;
                & i{
                    font-size: 18px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    color: var(--tp-theme-primary);
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0px 4px 20px 0px rgba(35, 35, 49, 0.06);
                    @extend %transition;
                    position: relative;
                    z-index: 1;
                }
                & b{
                    font-size: 14px;
                    font-weight: 700;
                    transform: translate( -40px , 5px);
                    opacity: 0;
                    display: inline-block;
                    color: var(--tp-theme-secondary);
                    overflow: hidden;
                    @extend %transition;
                }
                &:hover{
                    & i{
                        transition: none;
                    }
                }
            }
            & span{
                position: relative;
                font-size: 50px;
                display: block;
                transform: translateX(-10px);
                color: var(--tp-theme-primary);
                @extend %transition;
                &::after{
                    position: absolute;
                    content: '';
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    right: -20px;
                    top: 0;
                    z-index: -1;
                    background-color: rgb(244, 244, 244);
                }
            }
            &.btn-2{
                & span{
                    &::after{
                        content: none;
                    }
                }
            }
        }
        & .shape{
            position: absolute;
            right: -30px;
            bottom: -30px;
            opacity: 0;
            @extend %transition;
        }
    }
    &-title{
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 0.1px;
        margin-bottom: 10px;
        color: var(--tp-heading-primary);
    }


    &-3{
        &-area{
            border-bottom: 1px solid var(--tp-border-secondary);
            @media #{$lg,$md,$sm,$xs} {
                border: none;
            }
        }
        &-space{
            padding-left: 112px;
            padding-right: 112px;
            @media #{$xl} {
                padding-right: 50px;
                padding-left: 50px;
            }
            @media #{$lg,$md,$sm,$xs} {
                padding-right: 0;
                padding-left: 0;
            }
        }
        &-item{
            padding-top: 60px;
            &.item-3-border{
                border-right: 1px solid var(--tp-border-secondary);
                @media #{$lg,$md,$sm,$xs} {
                    border: none;
                }
            }
            &.pl{
                padding-left: 38px;
                @media #{$xxl,$xl,$lg,$md,$sm,$xs} {
                    padding-left: 0;
                }
            }
            &.active{
                & .tp-features-3{
                    &-icon{
                        & span{
                            &::after{
                                width: 100%;
                                height: 100%;
                                z-index: 0;
                            }
                            & i{
                                color: var(--tp-common-white);
                            }
                        }
                    }
                }
            }
        }
        &-icon{
            margin-right: 30px;
            @media #{$xl,$lg,$xs} {
                margin-right: 20px;
            }
            & span{
                position: relative;
                display: block;
                text-align: center;
                width: 110px;
                height: 110px;
                line-height: 120px;
                background: var(--tp-common-gray);
                z-index: 1;
                & i{
                    position: relative;
                    z-index: 1;
                    font-size: 55px;
                    color: var(--tp-theme-primary);
                    @include transition();
                }
                &::after{
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    height: 10px;
                    width: 10px;
                    @include transition();
                    background: var(--tp-theme-secondary);
                }
            }
        }
        &-content{
            padding: 0 20px 0 0;
            @media #{$xxl,$xl,$lg,$md} {
                padding: 0;
            }
        }
        &-title{
            font-size: 20px;
            font-weight: 800;
        }
    }
}

  